<settings>

     <setting propertyKey="@Properties.AccentColor" title="@Strings.AccentColorTitle">
        <settingConfig type="list">
            <listEntry value="1">@Strings.BlueSchema</listEntry>
            <listEntry value="2">@Strings.OrangeSchema</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.IsDinamicCircle" title="@Strings.IsDinamicCircleTitle">
        <settingConfig type="boolean" />
    </setting>
    
</settings>